html
  head
    title= title
  body
    a(class='button', href='https://api.instagram.com/oauth/authorize/?client_id=REDCATED&redirect_uri=https://aether-image.herokuapp.com/&response_type=code') Refresh
    |
    |
    |
    |
    |
    a(href=ln) Link to image . . .
